$mainColor: #6441a5;
$bgColor: #6a4df0;
$mainFontColor: #90ee90;
$secondaryFontColor: #fff;

$width: 768px;

@mixin mobile {
  @media (max-width: $width) {
    @content;
  }
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
}
