@import "../../global.scss";

.contacts {
  background-color: lightblue;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  button {
    width: 150px;
    height: 30px;
    color: white;
    background-color: crimson;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;

    &.focus {
      outline: none;
    }
  }

  span {
    color: green;
  }
}
