@import "../../global.scss";

.contacts {
  background-color: $secondaryFontColor;
  color: $mainColor;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  h1 {
    color: $mainColor;
    font-size: 50px;

    @include mobile {
      font-size: 30px;
    }
  }

  .container {
    height: 80%;
    display: flex;

    @include mobile {
      flex-direction: column-reverse;
    }

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 6;

      @include mobile {
        flex: 2;
      }

      h2 {
        margin-bottom: 50px;
        color: $bgColor;
        width: 80%;

        @include mobile {
          font-size: 16px;
          margin-bottom: 0;
        }
      }

      .leftContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;

        .linkedIn {
          font-size: 50px;

          @include mobile {
            font-size: 30px;
          }

          svg {
            color: #2867b2;
            padding: 10px;
            opacity: 0.5;
            margin: 0 10px;
            transition: all 1s ease;

            @include mobile {
              opacity: 1;
            }
          }

          svg:hover {
            opacity: 1;
          }
        }
        .gitHub {
          font-size: 60px;
          margin: 0 10px;
          padding: 10px;

          @include mobile {
            font-size: 35px;
          }

          svg {
            color: black;
            opacity: 0.5;
            transition: all 1s ease;

            @include mobile {
              opacity: 1;
            }
          }

          svg:hover {
            opacity: 1;
          }
        }

        .cvLink {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px;
          opacity: 0.5;
          transition: all 1s ease;

          @include mobile {
            opacity: 1;
          }

          a {
            text-decoration: none;
            font-weight: 600;
            color: $bgColor;

            @include mobile {
              font-size: 12px;
              opacity: 1;
            }
          }

          svg {
            font-size: 50px;
            margin: 0 10px;
            color: $bgColor;

            @include mobile {
              font-size: 20px;
            }
          }
        }

        .cvLink:hover {
          opacity: 1;
        }
      }
    }

    .right {
      width: 90%;
      padding: 20px;
      flex: 6;
      display: flex;
      flex-direction: column;
      align-items: start;

      @include mobile {
        align-items: center;
      }

      h2 {
        margin: 10px 0 20px 0;
        overflow: hidden;
        color: $secondaryFontColor;

        @include mobile {
          font-size: 18px;
          margin: 5px 0;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        width: 60%;
        border-radius: 15px;
        background-color: $mainFontColor;
        padding: 5px 10px;
        margin: 10px;

        textarea {
          padding: 7px;
          border-radius: 20px;
          border-style: none;
          margin-top: 10px;
          max-height: 100px;
          min-height: 100px;
          height: 100px;
          color: $bgColor;
          font-weight: 600;
        }

        textarea:focus {
          outline: none;
        }

        input {
          color: $bgColor;
          height: 40px;
          margin-top: 10px;
          padding: 0 10px;
          font-weight: 600;
        }

        .name {
          padding: 0 5px;
          border-radius: 20px;
          border-style: none;
          outline: none;
        }

        .email {
          padding: 0 5px;
          border-radius: 20px;
          border-style: none;
          outline: none;
        }

        .buttonSubmit {
          width: 150px;
          height: 30px;
          color: white;
          background-color: $bgColor;
          border: none;
          border-radius: 10px;
          font-weight: 500;
          margin-bottom: 10px;
          cursor: pointer;

          &.focus {
            outline: none;
          }
        }
      }
    }
  }

  .replyMessage {
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    padding: 2px 0;
    overflow: hidden;

    @include mobile {
      align-items: center;
      font-size: 12px;
      font-weight: 400;
      padding: 5px 0;
    }
  }
}
