@import "../../global.scss";

.aboutMe {
  background-color: $secondaryFontColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: $bgColor;

  h1 {
    font-size: 50px;
    color: $bgColor;

    @include mobile {
      font-size: 30px;
    }
  }

  .container {
    height: 70vh;
    display: flex;
    align-items: center;
    margin: 0 20px;

    .left {
      flex: 5;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      img {
        width: 230px;
        border-radius: 30px;
        margin: 10px;
      }

      @include mobile {
        display: none;
      }
    }

    .right {
      height: 100%;
      flex: 7;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .arrowDown {
        a {
          color: $mainColor;
          bottom: 10px;
          font-size: 50px;
          margin-left: 20%;
          animation: arrowBlink 2s infinite;

          @include mobile {
            font-size: 20px;
            margin: 50%;
          }
        }

        @keyframes arrowBlink {
          100% {
            opacity: 0;
          }
        }
      }

      .textAboutMe {
        width: 70%;
        line-height: 2.5;
        font-size: 18px;

        @include mobile {
          font-size: 14px;
          width: 90%;
          line-height: 2;
          font-weight: 500;
        }
      }

      .techs {
        h2 {
          margin-bottom: 10px;
        }
        svg {
          font-size: 35px;
          margin: 10px 5px;
        }
      }
    }
  }
}
